extends layout 

block content-head 
    title Restaurants - Tourist Assistance
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    link(rel="stylesheet" href="/assets/css/map.css")

block content-body
    // Map Container
    #map

    // City Cards
    #city-cards.city-cards

    // Back to Map Button
    button#back-button.back-button Back

    // Leaflet.js Map Script
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script(src="/assets/js/map.js")
