doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Registration Successful
    link(rel="stylesheet" href="/assets/css/regSuccess.css")
  body
    .container
      h1 Registration Successful!
      p Welcome, #{signupEmail}!
      p You have successfully registered.
      p Redirecting you to the login page in 5 seconds...

    script.
      setTimeout(function() {
        window.location.href = "/login";
      }, 5000);  // 5-second delay
