.footer-container
    .logo-container
        img.Alpha-logo(src="/assets/img/logo.jpeg", alt="Alpha Logo")
    
    .footer-sections
        .footer-column
            h4 Discover India
            ul
                li: a(href="/index") Home
                li: a(href="/plan") Plan your trip
                li: a(href="/flights") Flights
                li: a(href="/restaurant") Restaurant
                li: a(href="/guides") Guides
                li: a(href="/map") India Map
        
        .footer-column
            h4 Alpha Patner
            ul
                li: a(href="https://www.vignan.ac.in/") Vignan University
                li: a(href="https://vignan.ac.in/csehome.php") CSE Department in VU
                li: a(href="https://www.vignan.ac.in/tnp.pdf") Trainning and Placements
        
        .footer-column.get-help
            h4 Get Help
            ul
                li: a(href="#") Help Center
                li: a(href="/about") Contact Us
                li: a(href="https://www.Whatsapp.com") Start a Whatsapp chat

            .social-icons
                a(href="https://www.facebook.com")
                    i.fab.fa-facebook
                a(href="https://www.instagram.com")
                    i.fab.fa-instagram
                a(href="https://www.twitter.com")
                    i.fab.fa-twitter
                a(href="https://www.youtube.com")
                    i.fab.fa-youtube
