nav.nav-sidebar
  .logo
    img(src="/assets/img/logo.jpeg", alt="India Tourism Logo")
  ul.nav-links
    li
      a(href="./dashboard")
        i.fas.fa-plane
        span Dashboard
    li
      a(href="./flights")
        i.fas.fa-plane
        span Flights
    li
      a(href="./restaurant")
        i.fas.fa-utensils
        span Restaurants
    li
      a(href="./guides")
        i.fas.fa-map
        span Guides
    li
      a(href="./offers")
        i.fas.fa-calendar-check
        span Offers
    li.logout
      a(href="./logout")
        i.fas.fa-sign-out-alt
        span Logout